main {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-image: url('../images/bg.jpg'); */
  background-color: #EEEEEE;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #E68301;
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.header-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: all 400ms ease;
  background-color: white;
  border: 5px solid #E68301;
}


.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/back.png');
  backface-visibility: hidden;
}

.card-content {
  font-family: 'Arial';
  margin: 5px;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(80%);
  opacity: 0.5;
}

@media screen and (max-width:920px) {
  header {
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid #E68301;
    font-size: 0.8em;
  }

  .header-container {
    grid-gap: 10px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .card-content {
    margin: 2px;
    font-size: 0.8rem;
  }

  .face {
    border: 2px solid #E68301;
  }
}

@media screen and (max-width:920px) and (orientation: landscape) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}