.menu-form {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.menu__header {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 50px;
}

.menu__header {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 50px;
}

.token__conexao {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.token__conexao>p {
	color: #333;
	font-size: 1.0em;
}

.token__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.container__token p {
	text-align: justify;
	width: 80%;
	margin: 2rem auto;
}

#textoffer {
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
}

.menu__button {
	border-radius: 4px;
	border-style: solid;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	max-width: 300px;
	padding: 15px;
	width: 100%;
	margin: 3px;
}

.invisible {
	display: none;
  }

/* Difficulty */
.difficulty__button_easy {
	background-color: #00cc66;
	border-color: #b2df28;
}

.difficulty__button_medium {
	background-color: #00b5cc;
	border-color: #00bbfa;
}

.difficulty__button_hard {
	background-color: #cc3300;
	border-color: #e95c2d;
}

/* Mode */
.mode__button_singleplayer {
	background-color: #00cc66;
	border-color: #b2df28;
}

.mode__button_local_multiplayer {
	background-color: #00b5cc;
	border-color: #00bbfa;
}

.mode__button_p2p_multiplayer {
	background-color: #cc3300;
	border-color: #e95c2d;
}

/* Connection */
.mode__button_p2p_host {
	background-color: #00cc66;
	border-color: #b2df28;
}

.mode__button_p2p_join {
	background-color: #00b5cc;
	border-color: #00bbfa;
}

.connection__button_p2p_copy {
	background-color: #00cc66;
	border-color: #b2df28;
}

/* Jogo */
.game__button_playAgain {
	background-color: #00cc66;
	border-color: #b2df28;
}

.game__button_giveUp {
	background-color: #da1f1f;
	border-color: #e95c2d;
}

.game__button_answerForm {
	background-color: #00b5cc;
	border-color: #00bbfa;
}

@media screen and (max-width:920px) {
	.menu__button {
		border-radius: 2px;
		font-size: 0.8em;
		max-width: 200px;
		padding: 5px;
		width: 100%;
		margin: 2px;
	}
}